:root {
  --primary-color: #6b5577;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-duration: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Futura', sans-serif;
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary-color);
  scroll-behavior: smooth;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
