/* Spinner */
.spinner {
  width: 2rem;
  height: 2rem;
  border: 0.4rem solid var(--white-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  padding: 1.3rem;
}

/* Pokemons */
.pokemons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
}

.pokemonsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.pokemonsItem {
  min-width: 30.33%;
  max-width: 30.33%;
}

@media (max-width: 900px) {
  .pokemonsItem {
    min-width: 40%;
    max-width: 40%;
  }
}

@media (max-width: 600px) {
  .pokemonsItem {
    min-width: 100%;
    max-width: 100%;
  }
}

/* Pokemon */
.pokemon {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: var(--primary-border-radius);
  cursor: pointer;
  transition: transform var(--primary-duration);
}

.pokemonFlash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: var(--red-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}

.pokemon:hover {
  transform: scale(1.06);
}

.pokemonWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pokemonContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pokemonImage {
  align-self: center;
  width: 100px;
}

.pokemonTypes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.pokemonType {
  padding: 0.3rem 1rem;
  border: 1px solid var(--white-color);
}

.pokemonInfo {
  display: flex;
  gap: 0.5rem;
}

.pokemonInfoName {
  font-size: 1.1rem;
}

.pokemonTypeTooltip {
  display: inline-block;
  position: relative;
}

.pokemonTypeTooltipText {
  width: 14rem;
  background-color: var(--white-color);
  color: var(--black-color);
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--primary-border-radius);
  transform: translateX(-50%);
  overflow-wrap: break-word;
  position: absolute;
  left: 50%;
  bottom: 100%;
  visibility: hidden;
  z-index: 1;
}

.pokemonTypeTooltip:hover .pokemonTypeTooltipText {
  visibility: visible;
}

/* Logs */
.logsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.log {
  color: var(--white-color);
}

.logAttack {
  color: var(--red-color);
}

/* Progress */
.progress {
  width: 100%;
  height: 1.4rem;
  background-color: var(--disabled-color);
  border-radius: var(--primary-border-radius);
}

.progressContent {
  height: 100%;
  background-color: var(--red-color);
  border-radius: var(--primary-border-radius);
}
